{{>header}}
<main id="home" class="text-center container">
  <h1>Jeff A. Ripke</h1>
  <p class="lead">I am a life long learner. I love to learn and I am currently focused on web development (full-stack to be exact). I am also learning RV repair, training, and inspections. I recently obtained my level 1 RV inpector through the <a href="https://nrvia.org/" target="_blank">NRVIA</a> (National RV Inspection Association). Check out my <a href="https://www.linkedin.com/in/jeffripke/"><i class="fab fa-linkedin"></i></a> (LinkedIn) page, to see all of my training.</p>
</main>
<section id="about" class="container">
  <p></p>
</section>
<section id="portoflio" class="container">

</section>
<section id="links" class="container">

</section>
<section id="contact" class="container">

</section>
{{>footer}}