{{>header}}
<main id="home" class="text-center container">
  <h1>Jeff A. Ripke</h1>
  <p>I am a life long learner. I love to learn and I am currently focused on web development (fullstack to be exaxt). I am also learning RV repair, training, and inspections. I recently obtained my level 1 RV inpector through the <a href="https://nrvia.org/" target="_blank">NRVIA</a> (National RV Inspection Assocation). Check out my <a href="https://www.linkedin.com/in/jeffripke/"><i class="fab fa-linkedin"></i></a> (linkedin) page, to see all of my trainig.</p>
</main>
<section id="about" class="container">

</section>
<section id="portoflio" class="container">

</section>
<section id="links" class="container">

</section>
<section id="contact" class="container">

</section>
{{>footer}}